.header-auth{
    background-color: #4a41f3;
    height: 8vh;
    width: 100vw;
}


.auth-div{
    background-color: #4a41f3;
    color: white;
    width: 100vw;
    height:100vh;
    padding: 20vh 10vw;
}

.form{
    font-size: 2rem;
}

fieldset {
    width:30vw;
    border: white solid;
    padding: 2vh 6vw 4vh 4vw;
}

.login{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 3vh;
}

.submit{
    padding: 1.2vh 1.6vw;
    margin: 4vh 0;
    background-color: rgb(241, 35, 35);
    color: white;
    font-size: 1.8rem;
    border-radius: 1.5rem;
    outline: none;
}

.footer-auth{
    background-color: #4a41f3;
    height: 5vh;
    bottom: 0;
    position: fixed;
    width: 100vw;
}

@media screen and (max-width: 500px) {
    fieldset{
        border: none;
    }
    
    .form{
        font-size: 1.7rem;
    }
    .login{
        font-size: 2.6rem;
        font-weight: 500;
        padding-bottom: 3vh;
    }
    .submit{
        font-size: 1.4rem;
        padding:1.5vh 3vw;
    }
}