.header-dcustomer{
    background-color: #4a41f3;
    height: 10vh;
    width: 100vw;
}

.title-customer{
    text-decoration: underline;
    padding: 4vh 0 0 0;
    text-align: center;
    color: blue;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.place-order{
    float: right;
    font-size: 1.4rem;
    margin: 2vh;
    padding: 1.4vh 2vw;
    outline: none;
    color: #4a41f3;
    background-color: white;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.info{
    padding: 2vh 0;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Courier New', Courier, monospace;
}

.footer-dcustomer{
    background-color: #4a41f3;
    height: 5vh;
    bottom: 0;
    position: fixed;
    width: 100vw;
}


@media screen and (max-width: 500px) {
.place-order{
    font-size: 1.15rem;
    padding: 1.2vh 2.5vw;
}
}