* { margin: 0; padding: 0; border: none; }


.main-page{
    width: 100vw;
    height: 100vh;
    background-image: url('../background1.png');
}

.header-agent{
    font-size: 3rem;
    color: #4a41f3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4vh;
    font-weight: bold;
    font-style: oblique;
}

.sign-out{
    float: right;
    padding: 1.5vh 2.5vw;
    outline: none;
    font-size: 1.8rem;
    border-radius: 2rem;
    font-weight: bold;
    color: #4a41f3;
}

.sign-out:hover{
    background-color: #4a41f3;
    color:white
}


.button-holder{
    font-size: 2rem;
    float: left;
    width:33vw;
    padding-left: 10vw;
    padding-top: 30vh;
    list-style: none;
}

.button-holder li{
    margin:1.7vh 0.5vw;
    background-color: #4a41f3;
    border-radius: 4rem;
    text-align: center;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding:2vh 1vw;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
    display: block;
}

.button-holder li:hover{
    border: #4a41f3 solid;
    background-color: white;
    color: #4a41f3;
}

.shop{
    float: right;
    height: 70vh;
}


@media screen and (max-width: 500px) {

    .main-page{
        background-image: none;
    }
    .header-agent{
        font-size: 1.8rem;
        background-color: #4a41f3;
        color:white;
        height: 19vh;
    }

    .sign-out{
        font-size:1.3rem;
        padding:1vh 4vw;
        margin-top: 2vh;
    }

    .button-holder{
        background-color: white;
        width: 100vw;
        height: 100vh;
        padding-top: 10vh;
        padding-left: unset;
    }

    .button-holder li{
        font-size: 1.5rem;
        margin: 4vh 10vw;
    }
    
    .shop{
        display: none;
    }
}