.header-scan{
    background-color: #4a41f3;
    height: 9vh;
    width: 100vw;
}

.scan{
    height:20vh;
    width:20vw;
    margin:auto;
    background-color: blueviolet;
}

.title-scan{
    padding: 8px 0;
    font-size: 3rem;
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.result{
    font-size: 12rem;
}
.footer-scan{
    background-color: #4a41f3;
    height: 5vh;
    bottom: 0;
    position: fixed;
    width: 100vw;
}